<ion-header>
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/soscine.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>SOSCINE App</ion-card-subtitle>
        <ion-card-title>Bienvenue</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Développé par Ayrton LECOUTRE VALDENAIRE</p>
        <p>Pour tout problème contact@weebedia.com</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
     
      <ion-card-header>
        <ion-card-subtitle>Change Log</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <label>09/09/19</label>
        <ul>
          <li>Systeme de scancode</li>
          <li>Lecture des reservations via API</li>
          <li>Ajout des numero de serie apres SCAN</li>
          <li>Selections de date simple</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>
